### Import data

In [1]:
#!pip install ipython-autotime 
%load_ext autotime

time: 448 µs

In [2]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

time: 199 ms

In [3]:
file= pd.read_csv("/home/fitec/00-Fitec_Formation/Projet_Fil_Rouge_Groupe1_Bike_Paris/03-Donnees_batch/mes_idf_horaire_no2.csv",encoding= 'unicode_escape',delimiter=",",parse_dates=True)

time: 760 ms

In [4]:
file.head()

,ï»¿id,nom_dept,nom_com,id_com,nom_station,code_station_ue,typologie,nom_poll,id_poll_ue,valeur,unite,metrique,date_debut,date_fin,statut_valid,x,y
0,1,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,73.0,ug.m-3,horaire,2017/09/18 16:00:00+00,2017/09/18 17:00:00+00,1,651166,6862011
1,2,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,57.0,ug.m-3,horaire,2017/09/18 17:00:00+00,2017/09/18 18:00:00+00,1,651166,6862011
2,3,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,65.0,ug.m-3,horaire,2017/09/18 18:00:00+00,2017/09/18 19:00:00+00,1,651166,6862011
3,4,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,81.0,ug.m-3,horaire,2017/09/18 19:00:00+00,2017/09/18 20:00:00+00,1,651166,6862011
4,5,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,74.0,ug.m-3,horaire,2017/09/18 20:00:00+00,2017/09/18 21:00:00+00,1,651166,6862011

time: 18.1 ms

In [5]:
file.isnull().sum()

ï»¿id              0
nom_dept           0
nom_com            0
id_com             0
nom_station        0
code_station_ue    0
typologie          0
nom_poll           0
id_poll_ue         0
valeur             0
unite              0
metrique           0
date_debut         0
date_fin           0
statut_valid       0
x                  0
y                  0
dtype: int64

time: 110 ms

### select columns

In [6]:
file_no2=file[["nom_dept","nom_com","id_com","nom_station","code_station_ue","valeur","unite","date_fin","statut_valid","x","y"]]
file_no2.tail()

,nom_dept,nom_com,id_com,nom_station,code_station_ue,valeur,unite,date_fin,statut_valid,x,y
414617,HAUTS-DE-SEINE,GENNEVILLIERS,92036,GENNEVILLIERS,4002,26.9,ug.m-3,2020/12/14 07:00:00+00,1,648292,6870262
414618,HAUTS-DE-SEINE,GENNEVILLIERS,92036,GENNEVILLIERS,4002,29.0,ug.m-3,2020/12/14 08:00:00+00,1,648292,6870262
414619,HAUTS-DE-SEINE,GENNEVILLIERS,92036,GENNEVILLIERS,4002,23.9,ug.m-3,2020/12/14 09:00:00+00,1,648292,6870262
414620,HAUTS-DE-SEINE,GENNEVILLIERS,92036,GENNEVILLIERS,4002,26.4,ug.m-3,2020/12/14 10:00:00+00,1,648292,6870262
414621,HAUTS-DE-SEINE,GENNEVILLIERS,92036,GENNEVILLIERS,4002,28.8,ug.m-3,2020/12/14 11:00:00+00,1,648292,6870262

time: 22.4 ms

In [7]:
file_no2.count()

nom_dept           414622
nom_com            414622
id_com             414622
nom_station        414622
code_station_ue    414622
valeur             414622
unite              414622
date_fin           414622
statut_valid       414622
x                  414622
y                  414622
dtype: int64

time: 67.3 ms

### Show district

In [8]:
file_no2["id_com"].value_counts()

78646    27225
94081    26961
77258    26955
95088    26904
95277    26904
93073    26872
95633    26832
95612    26808
92036    26732
75106    26598
75112    26408
91228    26285
93066    26057
75115    25188
75102    25123
75104    16770
Name: id_com, dtype: int64

time: 3.92 ms

In [9]:
file_no2["nom_dept"].value_counts()

PARIS                120087
VAL-D'OISE           107448
SEINE-SAINT-DENIS     52929
YVELINES              27225
VAL-DE-MARNE          26961
SEINE-ET-MARNE        26955
HAUTS-DE-SEINE        26732
ESSONNE               26285
Name: nom_dept, dtype: int64

time: 40.9 ms

In [10]:
file["date_fin"].value_counts()

2019/03/04 10:00:00+00    32
2019/09/18 09:00:00+00    32
2018/10/22 09:00:00+00    32
2019/01/14 11:00:00+00    32
2019/03/28 10:00:00+00    32
                          ..
2019/07/19 05:00:00+00     1
2019/07/19 03:00:00+00     1
2020/08/23 21:00:00+00     1
2019/07/18 19:00:00+00     1
2019/07/19 01:00:00+00     1
Name: date_fin, Length: 26535, dtype: int64

time: 52 ms

### Select Paris districs

In [11]:
df=file_no2[file_no2["nom_dept"]=="PARIS"]

time: 29.4 ms

In [12]:
df["nom_dept"].value_counts()

PARIS    120087
Name: nom_dept, dtype: int64

time: 12.8 ms

In [13]:
df["id_com"].value_counts()

75106    26598
75112    26408
75115    25188
75102    25123
75104    16770
Name: id_com, dtype: int64

time: 4.6 ms

In [14]:
df.tail()

,nom_dept,nom_com,id_com,nom_station,code_station_ue,valeur,unite,date_fin,statut_valid,x,y
414567,PARIS,PARIS-15E-ARRONDISSEMENT,75115,PARIS stade Lenglen,4179,10.4,ug.m-3,2020/12/14 06:00:00+00,1,646401,6859173
414568,PARIS,PARIS-15E-ARRONDISSEMENT,75115,PARIS stade Lenglen,4179,17.8,ug.m-3,2020/12/14 07:00:00+00,1,646401,6859173
414569,PARIS,PARIS-15E-ARRONDISSEMENT,75115,PARIS stade Lenglen,4179,23.1,ug.m-3,2020/12/14 08:00:00+00,1,646401,6859173
414570,PARIS,PARIS-15E-ARRONDISSEMENT,75115,PARIS stade Lenglen,4179,27.0,ug.m-3,2020/12/14 09:00:00+00,1,646401,6859173
414571,PARIS,PARIS-15E-ARRONDISSEMENT,75115,PARIS stade Lenglen,4179,23.7,ug.m-3,2020/12/14 10:00:00+00,1,646401,6859173

time: 8.21 ms

### Rename columns

In [15]:
df2=df[["id_com","valeur","unite","date_fin","statut_valid","x","y"]]
df2.tail()

,id_com,valeur,unite,date_fin,statut_valid,x,y
414567,75115,10.4,ug.m-3,2020/12/14 06:00:00+00,1,646401,6859173
414568,75115,17.8,ug.m-3,2020/12/14 07:00:00+00,1,646401,6859173
414569,75115,23.1,ug.m-3,2020/12/14 08:00:00+00,1,646401,6859173
414570,75115,27.0,ug.m-3,2020/12/14 09:00:00+00,1,646401,6859173
414571,75115,23.7,ug.m-3,2020/12/14 10:00:00+00,1,646401,6859173

time: 10.4 ms

In [16]:
df2.columns=(["zip_code","no2","unite","date","statut_valid","x","y"])

time: 634 µs

In [17]:
print(df2.dtypes)
df2[["x", "y"]] = df2[["x", "y"]].astype(float)
print(df2.dtypes)
df2.tail()

zip_code          int64
no2             float64
unite            object
date             object
statut_valid      int64
x                 int64
y                 int64
dtype: object
zip_code          int64
no2             float64
unite            object
date             object
statut_valid      int64
x               float64
y               float64
dtype: object

/home/fitec/anaconda3/envs/adata3/lib/python3.7/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,zip_code,no2,unite,date,statut_valid,x,y
414567,75115,10.4,ug.m-3,2020/12/14 06:00:00+00,1,646401.0,6859173.0
414568,75115,17.8,ug.m-3,2020/12/14 07:00:00+00,1,646401.0,6859173.0
414569,75115,23.1,ug.m-3,2020/12/14 08:00:00+00,1,646401.0,6859173.0
414570,75115,27.0,ug.m-3,2020/12/14 09:00:00+00,1,646401.0,6859173.0
414571,75115,23.7,ug.m-3,2020/12/14 10:00:00+00,1,646401.0,6859173.0

time: 18.6 ms

In [18]:
#!conda uninstall pyproj -y
#!pip uninstall pyproj -y
#!pip install pyproj

time: 168 µs

In [19]:
df2.head(20)

,zip_code,no2,unite,date,statut_valid,x,y
0,75106,73.0,ug.m-3,2017/09/18 17:00:00+00,1,651166.0,6862011.0
1,75106,57.0,ug.m-3,2017/09/18 18:00:00+00,1,651166.0,6862011.0
2,75106,65.0,ug.m-3,2017/09/18 19:00:00+00,1,651166.0,6862011.0
3,75106,81.0,ug.m-3,2017/09/18 20:00:00+00,1,651166.0,6862011.0
4,75106,74.0,ug.m-3,2017/09/18 21:00:00+00,1,651166.0,6862011.0
5,75106,69.0,ug.m-3,2017/09/18 22:00:00+00,1,651166.0,6862011.0
6,75106,71.0,ug.m-3,2017/09/18 23:00:00+00,1,651166.0,6862011.0
7,75106,51.0,ug.m-3,2017/09/19 00:00:00+00,1,651166.0,6862011.0
8,75106,55.0,ug.m-3,2017/09/19 01:00:00+00,1,651166.0,6862011.0
9,75106,17.0,ug.m-3,2017/09/19 02:00:00+00,1,651166.0,6862011.0
10,75106,14.0,ug.m-3,2017/09/19 03:00:00+00,1,651166.0,6862011.0
11,75106,16.0,ug.m-3,2017/09/19 04:00:00+00,1,651166.0,6862011.0
12,75106,19.0,ug.m-3,2017/09/19 05:00:00+00,1,651166.0,6862011.0
13,75106,39.0,ug.m-3,2017/09/19 06:00:00+00,1,651166.0,6862011.0
14,75106,73.0,ug.m-3,2017/09/19 07:00:00+00,1,651166.0,6862011.0
15,75106,85.0,ug.m-3,2017/09/19 08:00:00+00,1,651166.0,6862011.0
16,75106,91.0,ug.m-3,2017/09/19 09:00:00+00,1,651166.0,6862011.0
17,75106,91.0,ug.m-3,2017/09/19 10:00:00+00,1,651166.0,6862011.0
18,75106,77.0,ug.m-3,2017/09/19 11:00:00+00,1,651166.0,6862011.0
19,75106,60.0,ug.m-3,2017/09/19 12:00:00+00,1,651166.0,6862011.0

time: 14.5 ms

In [20]:
from pyproj import Proj, transform
inProj = Proj(init='epsg:2154')
outProj = Proj(init='epsg:4326', preserve_units=True)

x1,y1 = 636191.1234,6855823.12345
x2,y2 = transform(inProj,outProj,x1,y1)
print(x2,y2)

2.1312954440793206 48.79932829363014
time: 107 ms

/home/fitec/anaconda3/envs/adata3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

In [21]:
from pyproj import Proj, transform
inProj = Proj(init='epsg:2154', preserve_units=True)
outProj = Proj(init='epsg:4326', preserve_units=True)
scale_value = 1.0e6

for ct in df2.index:
     
    x1,y1 = df2["x"][ct],df2["y"][ct]
    #print(x1,y1)
    df2["x"][ct],df2["y"][ct] = transform(inProj,outProj,x1,y1)
    #print(df2["x"][ct],df2["y"][ct])

/home/fitec/anaconda3/envs/adata3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  # Remove the CWD from sys.path while we load stuff.
/home/fitec/anaconda3/envs/adata3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/fitec/anaconda3/envs/adata3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

time: 1h 43min 5s

In [22]:
df2.head(20)

,zip_code,no2,unite,date,statut_valid,x,y
0,75106,73.0,ug.m-3,2017/09/18 17:00:00+00,1,2.334445,48.856284
1,75106,57.0,ug.m-3,2017/09/18 18:00:00+00,1,2.334445,48.856284
2,75106,65.0,ug.m-3,2017/09/18 19:00:00+00,1,2.334445,48.856284
3,75106,81.0,ug.m-3,2017/09/18 20:00:00+00,1,2.334445,48.856284
4,75106,74.0,ug.m-3,2017/09/18 21:00:00+00,1,2.334445,48.856284
5,75106,69.0,ug.m-3,2017/09/18 22:00:00+00,1,2.334445,48.856284
6,75106,71.0,ug.m-3,2017/09/18 23:00:00+00,1,2.334445,48.856284
7,75106,51.0,ug.m-3,2017/09/19 00:00:00+00,1,2.334445,48.856284
8,75106,55.0,ug.m-3,2017/09/19 01:00:00+00,1,2.334445,48.856284
9,75106,17.0,ug.m-3,2017/09/19 02:00:00+00,1,2.334445,48.856284
10,75106,14.0,ug.m-3,2017/09/19 03:00:00+00,1,2.334445,48.856284
11,75106,16.0,ug.m-3,2017/09/19 04:00:00+00,1,2.334445,48.856284
12,75106,19.0,ug.m-3,2017/09/19 05:00:00+00,1,2.334445,48.856284
13,75106,39.0,ug.m-3,2017/09/19 06:00:00+00,1,2.334445,48.856284
14,75106,73.0,ug.m-3,2017/09/19 07:00:00+00,1,2.334445,48.856284
15,75106,85.0,ug.m-3,2017/09/19 08:00:00+00,1,2.334445,48.856284
16,75106,91.0,ug.m-3,2017/09/19 09:00:00+00,1,2.334445,48.856284
17,75106,91.0,ug.m-3,2017/09/19 10:00:00+00,1,2.334445,48.856284
18,75106,77.0,ug.m-3,2017/09/19 11:00:00+00,1,2.334445,48.856284
19,75106,60.0,ug.m-3,2017/09/19 12:00:00+00,1,2.334445,48.856284

time: 8.57 ms

### Format Zip code

In [23]:
df.to_csv("/home/fitec/00-Fitec_Formation/Projet_Fil_Rouge_Groupe1_Bike_Paris/03-Donnees_batch/pollution_no2_final_avec_coord_GPS.csv", sep=";", encoding="utf-8")

time: 478 ms