In [172]:
import pandas as pd

df= pd.read_csv("/home/fitec/Téléchargements/comptage-velo-donnees-compteurs.csv",engine='python',error_bad_lines=False,delimiter=";",encoding="utf8")

In [173]:
df.shape

(910462, 9)

In [174]:
list(df.columns.values)

['Identifiant du compteur',
 'Nom du compteur',
 'Identifiant du site de comptage',
 'Nom du site de comptage',
 'Comptage horaire',
 'Date et heure de comptage',
 "Date d'installation du site de comptage",
 'Lien vers photo du site de comptage',
 'Coordonnées géographiques']

### select right columns

In [177]:
df=df[["Nom du compteur","Comptage horaire","Date et heure de comptage","Date d'installation du site de comptage","Coordonnées géographiques"]]

In [178]:
df.tail()

,Nom du compteur,Comptage horaire,Date et heure de comptage,Date d'installation du site de comptage,Coordonnées géographiques
910457,74 Boulevard Ornano S-N,87.0,2020-12-22T16:00:00+01:00,2020-07-22,"48.896825,2.345648"
910458,74 Boulevard Ornano S-N,86.0,2020-12-22T17:00:00+01:00,2020-07-22,"48.896825,2.345648"
910459,74 Boulevard Ornano S-N,90.0,2020-12-22T18:00:00+01:00,2020-07-22,"48.896825,2.345648"
910460,74 Boulevard Ornano S-N,23.0,2020-12-22T22:00:00+01:00,2020-07-22,"48.896825,2.345648"
910461,74 Boulevard Ornano S-N,11.0,2020-12-22T23:00:00+01:00,2020-07-22,"48.896825,2.345648"

### check if 2 columns are equals

###  drop null value from value

In [179]:
#print(df[df.isnull()])
df=df.dropna(subset=["Comptage horaire"])
df.isnull().sum()

Nom du compteur                                0
Comptage horaire                               0
Date et heure de comptage                      0
Date d'installation du site de comptage    34591
Coordonnées géographiques                  34591
dtype: int64

In [180]:
df.shape

(910462, 5)

### rename columns

In [181]:
df.columns=['address','traffic',"date","installation","gps"]

In [182]:
df.tail()

,address,traffic,date,installation,gps
910457,74 Boulevard Ornano S-N,87.0,2020-12-22T16:00:00+01:00,2020-07-22,"48.896825,2.345648"
910458,74 Boulevard Ornano S-N,86.0,2020-12-22T17:00:00+01:00,2020-07-22,"48.896825,2.345648"
910459,74 Boulevard Ornano S-N,90.0,2020-12-22T18:00:00+01:00,2020-07-22,"48.896825,2.345648"
910460,74 Boulevard Ornano S-N,23.0,2020-12-22T22:00:00+01:00,2020-07-22,"48.896825,2.345648"
910461,74 Boulevard Ornano S-N,11.0,2020-12-22T23:00:00+01:00,2020-07-22,"48.896825,2.345648"

### convert trafic type in int

In [183]:
df["traffic"]=df["traffic"].apply(lambda x:int(x))

In [184]:
df.tail()

,address,traffic,date,installation,gps
910457,74 Boulevard Ornano S-N,87,2020-12-22T16:00:00+01:00,2020-07-22,"48.896825,2.345648"
910458,74 Boulevard Ornano S-N,86,2020-12-22T17:00:00+01:00,2020-07-22,"48.896825,2.345648"
910459,74 Boulevard Ornano S-N,90,2020-12-22T18:00:00+01:00,2020-07-22,"48.896825,2.345648"
910460,74 Boulevard Ornano S-N,23,2020-12-22T22:00:00+01:00,2020-07-22,"48.896825,2.345648"
910461,74 Boulevard Ornano S-N,11,2020-12-22T23:00:00+01:00,2020-07-22,"48.896825,2.345648"

### convert type columns gps to str for apply extraction

In [185]:
df["gps"]=df["gps"].apply(lambda x:str(x))

In [186]:
df["gps"].value_counts()

nan                   34591
48.840801,2.333233    20057
48.846028,2.375429    20057
48.85372,2.35702      20056
48.891415,2.384954    20056
                      ...
48.851525,2.343298     5205
48.84638,2.31529       4274
48.89696,2.34538       3693
48.896825,2.345648     3693
48.87746,2.35008       1247
Name: gps, Length: 70, dtype: int64

### extract x,y from GPS

In [187]:

#df=df.dropna(subset=["gps"])

In [188]:
df["gps_x"]=df["gps"].apply(lambda x:x.split(",")[0])
df["gps_y"]=df["gps"].apply(lambda x:x.split(",")[-1])

In [189]:
df.tail()

,address,traffic,date,installation,gps,gps_x,gps_y
910457,74 Boulevard Ornano S-N,87,2020-12-22T16:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648
910458,74 Boulevard Ornano S-N,86,2020-12-22T17:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648
910459,74 Boulevard Ornano S-N,90,2020-12-22T18:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648
910460,74 Boulevard Ornano S-N,23,2020-12-22T22:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648
910461,74 Boulevard Ornano S-N,11,2020-12-22T23:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648

### Extract date & hour

In [190]:
df["hour"]=df["date"].apply(lambda x:x.split("T")[1])

In [191]:
df["date_full"]=df["date"].apply(lambda x:x.split("T")[0])

In [192]:
df["hour"]=df["hour"].apply(lambda x:x.split("+")[0])

In [195]:
df['date_full']=pd.to_datetime(df['date_full'].astype(str), format='%Y/%m/%d')

### exemple final dataset traffic

In [196]:
df.tail()

,address,traffic,date,installation,gps,gps_x,gps_y,hour,date_full
910457,74 Boulevard Ornano S-N,87,2020-12-22 16:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,16:00:00,2020-12-22
910458,74 Boulevard Ornano S-N,86,2020-12-22 17:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,17:00:00,2020-12-22
910459,74 Boulevard Ornano S-N,90,2020-12-22 18:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,18:00:00,2020-12-22
910460,74 Boulevard Ornano S-N,23,2020-12-22 22:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,22:00:00,2020-12-22
910461,74 Boulevard Ornano S-N,11,2020-12-22 23:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,23:00:00,2020-12-22

In [198]:
df["date_full"].max()

Timestamp('2020-12-22 00:00:00')

In [199]:
df["date_full"].min()

Timestamp('2019-11-01 00:00:00')

In [127]:
#import pandas as pd

#df= pd.read_csv("/home/fitec/Bureau/bike_project/Bike_project/Data/traffic.csv",delimiter=";",index_col=[0], encoding = "utf-8")

In [200]:
df.tail()

,address,traffic,date,installation,gps,gps_x,gps_y,hour,date_full
910457,74 Boulevard Ornano S-N,87,2020-12-22 16:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,16:00:00,2020-12-22
910458,74 Boulevard Ornano S-N,86,2020-12-22 17:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,17:00:00,2020-12-22
910459,74 Boulevard Ornano S-N,90,2020-12-22 18:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,18:00:00,2020-12-22
910460,74 Boulevard Ornano S-N,23,2020-12-22 22:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,22:00:00,2020-12-22
910461,74 Boulevard Ornano S-N,11,2020-12-22 23:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,23:00:00,2020-12-22

In [208]:
def funct(x):
    if x == '97 avenue Denfert Rochereau SO-NE':
        return 75015
    elif x =='97 avenue Denfert Rochereau SO-NE 97 avenue Denfert Rochereau SO-NE':
        return 75015
    elif x=='97 avenue Denfert Rochereau SO-NE 97 avenue Denfert Rochereau SO-NE [Bike]':
        return 75015
    elif x=='105 rue La Fayette E-O':
        return 75010
    elif x=='106 avenue Denfert Rochereau NE-SO':
        return 75015
    elif x== '100 rue La Fayette O-E':
        return 75010
    elif x=='100 rue La Fayette O-E 100 rue La Fayette O-E':
        return 75010
    elif x=='100 rue La Fayette O-E 100 rue La Fayette O-E [Bike]':
        return 75010
    elif x=='100 rue La Fayette O-E 100 rue La Fayette O-E Vélos':
        return 75010
    elif x=='135 avenue Daumesnil SE-NO':
        return 75012
    elif x=='28 boulevard Diderot E-O':
        return 75012
    elif x=='28 boulevard Diderot O-E':
        return 75012
    elif x== '39 quai FranÃ§ois Mauriac NO-SE':
        return 75013
    elif x=='39 quai FranÃ§ois Mauriac SE-NO':
        return 75013
    elif x=='39 quai François Mauriac NO-SE':
        return 75013
    elif x=='39 quai François Mauriac SE-NO':
        return 75013
    elif x=="18 quai de l'hotel de ville NO-SE":
        return 75004
    elif x=="18 quai de l'hotel de ville SE-NO":
        return 75004
    elif x=='27 boulevard Diderot E-O':
        return 75012
    elif x=='Voie Georges Pompidou NE-SO':
        return 75015
    elif x=='Voie Georges Pompidou SO-NE':
        return 75015
    elif x=='67 boulevard Voltaire SE-NO':
        return 75011
    elif x=='10 avenue de la Grande ArmÃ©e SE-NO':
        return 75017
    elif x=='10 avenue de la Grande Armée SE-NO':
        return 75017
    elif x=='7 avenue de la Grande ArmÃ©e NO-SE':
        return 75017
    elif x=='7 avenue de la Grande Armée NO-SE':
        return 75017
    elif x=='72 boulevard Voltaire NO-SE':
        return 75011
    elif x=='89 boulevard de Magenta NO-SE':
        return 75010
    elif x=='16 avenue de la Porte des Ternes E-O':
        return 75017
    elif x=='Pont du Garigliano NO-SE':
        return 75015
    elif x=='102 boulevard de Magenta SE-NO':
        return 75010
    elif x=='26 boulevard de MÃ©nilmontant SE-NO':
        return 75020
    elif x=='26 boulevard de Ménilmontant SE-NO':
        return 75020
    elif x=='Face au 16 avenue de la  Porte des Ternes O-E':
        return 75017
    elif x=='21 boulevard Auguste Blanqui SO-NE':
        return 75013
    elif x=='72 boulevard Richard Lenoir  S-N':
        return 75011
    elif x=='Pont National SO-NE':
        return 75012
    elif x=='Face au 48 quai de la marne NE-SO':
        return 75019
    elif x=='Face au 48 quai de la marne SO-NE':
        return 75019
    elif x=='77 boulevard Richard Lenoir N-S':
        return 75011
    elif x=="Face 104 rue d'Aubervilliers N-S":
        return 75019
    elif x=="Face 104 rue d'Aubervilliers S-N":
        return 75019
    elif x=='Face au 70 quai de Bercy N-S':
        return 75013
    elif x=='Face au 70 quai de Bercy S-N':
        return 75013
    elif x=='6 rue Julia Bartet NE-SO':
        return 75014
    elif x=='6 rue Julia Bartet SO-NE':
        return 75014
    elif x=="Face au 25 quai de l'Oise NE-SO":
        return 75019
    elif x=="Face au 25 quai de l'Oise SO-NE":
        return 75019
    elif x=='Pont National  NE-SO':
        return 75012
    elif x=='35 boulevard de Menilmontant NO-SE':
        return 75020
    elif x=='Pont du Garigliano SE-NO SE-NO':
        return 75015
    elif x=='152 boulevard du Montparnasse E-O':
        return 75015
    elif x=='152 boulevard du Montparnasse O-E':
        return 75015
    elif x=='10 boulevard Auguste Blanqui NE-SO':
        return 75013
    elif x=='243 boulevard Saint Germain NO-SE':
        return 75007
    elif x=='Totem 64 Rue de Rivoli E-O':
        return 75001
    elif x=='Totem 64 Rue de Rivoli O-E':
        return 75001
    elif x=='87 avenue de Flandre NE-SO':
        return 75019
    elif x=='72 avenue de Flandre SO-NE':
        return 75019
    elif x=='2 avenue de la Porte de Bagnolet O-E':
        return 75020
    elif x=='44 avenue des Champs ElysÃ©es SE-NO':
        return 75008
    elif x=='44 avenue des Champs Elysées SE-NO':
        return 75008
    elif x=="180 avenue d'Italie N-S":
        return 75013
    elif x=='129 rue Lecourbe SO-NE':
        return 75015
    elif x=="147 avenue d'Italie S-N":
        return 75013
    elif x=='33 avenue des Champs Elysées NO-SE':
        return 75008
    elif x=='33 avenue des Champs ElysÃ©es NO-SE':
        return 75008
    elif x=='132 rue Lecourbe NE-SO':
        return 75015
    elif x=='Pont de la Concorde N-S':
        return 75007
    elif x=='Pont des Invalides S-N':
        return 75007
    elif x=='Pont de la Concorde S-N':
        return 75007
    elif x=='Pont des Invalides N-S':
        return 75007
    elif x=="3 avenue de la Porte D'Orléans S-N":
        return 75014
    elif x== "3 avenue de la Porte D'OrlÃ©ans S-N":
        return 75014
    elif x=='Face au 8 avenue de la porte de Charenton NO-SE':
        return 75012
    elif x=='Face au 8 avenue de la porte de Charenton SE-NO':
        return 75012
    elif x=='72 rue de la Chapelle N-S':
        return 75018
    elif x=='72 rue de la Chapelle S-N':
        return 75018
    elif x=='Face au 4 avenue de la porte de Bagnolet E-O':
        return 75020
    elif x=='Face au 4 avenue de la porte de Bagnolet O-E':
        return 75020
    elif x=='Pont Charles De Gaulle NE-SO':
        return 75013
    elif x=='Pont Charles De Gaulle SO-NE':
        return 75013
    elif x=='36 quai de Grenelle NE-SO':
        return 75015
    elif x=='36 quai de Grenelle SO-NE':
        return 75015
    elif x=="Face au 40 quai D'Issy NE-SO":
        return 75015
    elif x=="Face au 40 quai D'Issy SO-NE":
        return 75015
    elif x=='Pont de Bercy NE-SO':
        return 75013
    elif x=='Pont de Bercy SO-NE':
        return 75013
    elif x=='38 rue Turbigo NE-SO':
        return 75003
    elif x=='38 rue Turbigo SO-NE':
        return 75003
    elif x=="Quai d'Orsay E-O":
        return 75007
    elif x=="Quai d'Orsay O-E":
        return 75007
    elif x=='27 quai de la Tournelle NO-SE':
        return 75005
    elif x=='27 quai de la Tournelle SE-NO':
        return 75005
    elif x=="Totem 85 quai d'Austerlitz NO-SE":
        return 75013
    elif x=="Totem 85 quai d'Austerlitz SE-NO":
        return 75013
    elif x=='Totem Cours la Reine E-O':
        return 75008
    elif x=='Totem Cours la Reine O-E':
        return 75008
    elif x=='Totem 73 boulevard de Sébastopol N-S':
        return 75002
    elif x=='Totem 73 boulevard de Sébastopol S-N':
        return 75002
    elif x=='Totem 73 boulevard de SÃ©bastopol S-N':
        return 75002
    elif x=='Totem 73 boulevard de SÃ©bastopol N-S':
        return 75002
    elif x=='21 boulevard Saint Michel S-N':
        return 75005
    elif x=='30 rue Saint Jacques N-S':
        return 75005
    elif x=='''90 Rue De SÃ¨vres 90 Rue De SÃ¨vres VÃ©los SO-NE''':
        return 75015
    elif x=='''90 Rue De SÃ¨vres 90 Rue De SÃ¨vres VÃ©los NE-SO''':
        return 75015
    elif x=='90 Rue De SÃ¨vres SO-NE':
        return 75015
    elif x=='90 Rue De SÃ¨vres NE-SO':
        return 75015
    elif x=='90 Rue De Sèvres NE-SO':
        return 75015
    elif x=='90 Rue De Sèvres SO-NE':
        return 75015
    elif x=='90 Rue De Sèvres 90 Rue De Sèvres  Vélos SO-NE':
        return 75015
    elif x=='90 Rue De Sèvres 90 Rue De Sèvres  Vélos NE-SO':
        return 75015
    elif x=='20 Avenue de Clichy NO-SE':
        return 75018
    elif x=='20 Avenue de Clichy SE-NO':
        return 75018
    elif x=='69 Boulevard Ornano N-S':
        return 75018
    elif x=='74 Boulevard Ornano S-N':
        return 75018
    else :
        return 0

In [209]:
df["zip_code"]=df["address"].apply(funct)

In [213]:
df["zip_code"].value_counts()

75015    178802
75013    129331
75012     80225
75019     79843
75007     69290
75020     48570
75010     41002
75011     40113
75017     40112
75008     35218
75018     34686
75014     29965
75005     29844
75001     20056
75004     20056
75003     18186
75002     15163
Name: zip_code, dtype: int64

In [214]:
df["hour"].value_counts()

03:00:00    37966
23:00:00    37952
06:00:00    37951
05:00:00    37951
08:00:00    37951
07:00:00    37951
21:00:00    37950
19:00:00    37950
13:00:00    37950
15:00:00    37950
22:00:00    37950
16:00:00    37950
14:00:00    37950
12:00:00    37950
10:00:00    37950
11:00:00    37950
18:00:00    37950
09:00:00    37950
17:00:00    37950
20:00:00    37950
04:00:00    37948
01:00:00    37850
00:00:00    37849
02:00:00    37793
Name: hour, dtype: int64

In [215]:
df.to_csv("/home/fitec/Bureau/bike_project/Bike_project/Data/trafic.csv", sep=";", encoding="utf-8")

In [216]:
# dft= pd.read_csv("/home/fitec/Bureau/bike_project/Bike_project/Data/trafic.csv",delimiter=";",index_col=[0], encoding = "utf-8")
# dft.tail()

,address,traffic,date,installation,gps,gps_x,gps_y,hour,date_full,zip_code
910457,74 Boulevard Ornano S-N,87,2020-12-22 16:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,16:00:00,2020-12-22,75018
910458,74 Boulevard Ornano S-N,86,2020-12-22 17:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,17:00:00,2020-12-22,75018
910459,74 Boulevard Ornano S-N,90,2020-12-22 18:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,18:00:00,2020-12-22,75018
910460,74 Boulevard Ornano S-N,23,2020-12-22 22:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,22:00:00,2020-12-22,75018
910461,74 Boulevard Ornano S-N,11,2020-12-22 23:00:00+01:00,2020-07-22,"48.896825,2.345648",48.896825,2.345648,23:00:00,2020-12-22,75018